body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  margin-top: 50px;
}

form {
  margin-bottom: 10px;
}

input {
  margin-right: 10px;
}

p {
  margin: 0;
}

button {
  margin-bottom: 20px;
}

.login__welcome {
  margin-bottom: 30px;
}

.register__welcome {
  margin-bottom: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
